@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --body: 58, 166, 185;
    --text: 249, 249, 224;
    --bg: 255, 208, 208;
    --dark-bg: 255, 158, 170;
    --font: clamp(18px , 4vw, 40px);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    position: relative;
    cursor: -moz-zoom-in;
}
body{
    width: 100vw;
    overflow-x: hidden;
    background-image: url(./IMG-20241107-WA0001.jpg);
    background-size: 100vh;
    background-attachment: fixed;
    background-position: center;
 }
.author{
    display: flex;
    justify-content: center;
    margin: 60px auto 0;
    font-family: "Philosopher", sans-serif;
    font-size: clamp(14px, 1.8vw, 30px);
    color: rgb(var(--text));
    h1{
        text-shadow: 3px 3px 0 #000,
                     3px -3px 0 #a07a7e;
    span{
     font-size: clamp(18px, 8vw, 60px);
    }
    }
}
@media screen and (max-width: 720px){
    .author > h1{
        text-shadow: 2px 2px 0 #000,
                     2px -2px 0 #a07a7e;
    }
}
.poet-box{
    max-width: 80vw;
    padding: 5vw;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.297);
    color: rgb(var(--text));
    font-size: var(--font);
    font-style: italic;
    line-height: calc(var(--font) + 10px);
    margin: 8vh auto 12vh;

    box-shadow: -2px -2px  #c4e6ffc4;
}

.poet-name{
    text-align: center;
    margin-bottom: 5px;
    color: #C4E6FF;
}

@media screen and (min-width:780px){
    body{
        background-size: 100vw;
        background-position: contain;
    }

    .poet-box{
    max-width: 720px;
    padding: 4vw;
    }
    .stars{
        margin-left: 2vw;
    }
}
.stars{
    display: flex;
    position: fixed;
    top: -50px;
}
.fa-star{
    margin: 0 5px;
    animation-duration: 2.8s;
}
@keyframes stars{
    0%{
        opacity: 0;

    }
    10%{
        opacity: 1;
    }
    80%{
        opacity: 1;
        transform: rotateY(180deg)
    }
    90%{
        opacity: 0;
    }
    100%{
        margin-top: 140vh;
    }
}

#cursor{
    padding: 20px;
    border: 3px solid rgb(var(--text));
    border-radius: 50%;
    position: absolute;
    transform: translateY(-100%);
}
#cursor::after{
    content: '';
    width: 5px;
    height: 5px;
    background-color: rgb(var(--text));
    border-radius: 50%;
    border: 2px solid rgb(var(--text));
    position: absolute;
    top: -50%;
    left: 0;
}
