:root {
  --body: 58, 166, 185;
  --text: 249, 249, 224;
  --bg: 255, 208, 208;
  --dark-bg: 255, 158, 170;
  --font: clamp(18px, 4vw, 40px);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: -moz-zoom-in;
}
a {
  text-decoration: none;
  color: rgb(var(--text));
}
div:active, li:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
.wrapper {
  width: 100vw;
  overflow-x: hidden;
  transition: 0.5s;
}
.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-image: url(./IMG-MOON-.jpg);
  background-size: 120vh;
  background-position: center;
}
nav {
  width: 20vw;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  align-items: end;
  z-index: -1;
  transition: 200ms;
  opacity: 0;
}

.nav-control-i {
  position: fixed;
  top: 8vh;
  right: 5vw;
  z-index: 11;
}
.nav-control-i > i {
  cursor: pointer;
  font-size: clamp(18px, 4vw, 30px);
  padding: 2vh;
  transition: 0.5s;
  color: rgb(var(--text));
}
nav > ul {
  height: 70%;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

nav > ul > li > i,
nav > ul > li > a > i {
  font-size: var(--font);
  padding: 10px;
  color: rgb(var(--text));
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 1px 1px 250px white;
}

.author {
  display: flex;
  justify-content: center;
  margin: 60px auto 0;
  font-family: "Philosopher", sans-serif;
  font-size: clamp(14px, 1.8vw, 30px);
  color: rgb(var(--text));
  h1 {
    text-shadow: 3px 3px 0 #000, 3px -3px 0 #a07a7e;
    span {
      font-size: clamp(18px, 8vw, 60px);
    }
  }
}
@media screen and (max-width: 720px) {
  .nav-control-i {
    top: 3.5vh;
  }
  nav > ul {
    padding-bottom: 5vh;
  }
  .author > h1 {
    text-shadow: 2px 2px 0 #000, 2px -2px 0 #a07a7e;
  }
}
.poem-box {
  max-width: 80vw;
  padding: 5vw;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.297);
  color: rgb(var(--text));
  font-size: calc(var(--font) + 2px);
  font-family: "Galada", cursive;
  line-height: calc(var(--font) + 10px);
  margin: 8vh auto 12vh;
  transition: all .5s;
}

.box-shadow {
  box-shadow: -2px -2px 3px #c4e6ffc4;
}
.poem-name {
  text-align: center;
  margin-bottom: 5px;
  color: #c4e6ff;
}
.poet {
  font-size: small;
  text-align: right;
  border-bottom: 0.5px dashed white;
  padding: 10px 0 0;
  opacity: 0.8;
}
.poet::before {
  content: "— ";
}
@media screen and (min-width: 780px) {
  .bg {
    background-size: 100vw;
    background-position: contain;
  }

  .poem-box {
    max-width: 720px;
    padding: 4vw;
  }
  .stars {
    margin-left: 2vw;
  }
}
.stars {
  display: flex;
  position: fixed;
  top: -50px;
}
.fa-star {
  margin: 0 5px;
  animation-duration: 2.8s;
}
@keyframes stars {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
    transform: rotateY(180deg);
  }
  90% {
    opacity: 0;
  }
  100% {
    margin-top: 140vh;
  }
}
